#normal{
    background-color: #A8A77A;
}
#fire{
    background-color: #EE8130;
}
#water{
    background-color: #6390F0;
}
#electric{
    background-color: #F7D02C;
}
#grass{
    background-color: #7AC74C;
}
#ice{
    background-color: #96D9D6;
}
#fighting{
    background-color: #C22E28;
}
#poison{
    background-color: #A33EA1;
}
#ground{
    background-color: #E2BF65;
}
#flying{
    background-color: #A98FF3;
}
#psychic{
    background-color: #F95587;
}
#bug{
    background-color: #A6B91A;
}
#rock{
    background-color: #B6A136;
}
#ghost{
    background-color: #735797;
}
#dragon{
    background-color: #6F35FC;
}
#dark{
    background-color: #705746;
}
#steel{
    background-color: #B7B7CE;
}
#fairy{
    background-color: #D685AD;
}
/* -- Pokemon Stats -- */

.pokemon-name{
    text-align: center;
}
.pokemon-image{
    height: 200px;
    width: 200px;
}
.pokemon-type{
    margin: 5px 2.5px;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    display: inline;
}

.pokemon-sprite-container{
    width: 50%;
    text-align: center;
    border-radius: 15px;
    box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.5);
    margin: 0 10px;
    background-color: coral;
}
.pokemon-stats-container{
    background-color: lightskyblue;
    width: 50%;
    border-radius: 15px;
    box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.5);
    margin: 0 10px;
}
.pokemon-stats-container p{
    padding-left: 20px;
}
.pokemon-flex-container{
    display: flex;
    flex-direction: row;
}
.shiny-gender-btn-container{
    text-align: center;
    width: 50%;
}
.ability-btn-container{
    text-align: center;
    width: 50%;
}
.ability-btn{
    color: white;
    background-color: darkslategrey;
    border-radius: 2px;
    border: none;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
    margin: 0 5px;
    height: 25px;
    width: 100px;
}
.ability-btn:active{
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.5);
}
.toggle-btn-flex-container{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.pokemon-container-div{
    position: relative;
    width: 70%;
    border: solid black 1px;
    border-radius: 2px;
    margin: 0px auto 20px auto;
    background-color: burlywood;
}
.toggle-btn{
    color: white;
    background-color: darkslategrey;
    border-radius: 2px;
    border: none;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
    margin: 0 5px;
    height: 25px;
    width: 100px;
}
.toggle-btn:active{
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.5);
}
.back-btn{
    color: white;
    border: none;
    border-radius: 2px;
    background-color: darkslategrey;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
}
button:hover, input:hover{
    cursor: pointer;
}
.back-btn:active{
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.5);
}
.move-list-btn{
    height: 35px;
    width: 150px;
    display: block;
    margin: 20px auto;
    border: none;
}
.move-list-btn:active{
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.5);
}
.ability-text{
    background-color: cornsilk;
    border-radius: 5px;
    box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.5);
    padding: 15px 10px;
    width: 90%;
    margin: 5px auto;
}


/* -- drop down menu -- */

.dropdown-div{
    background-color: coral;
    width: 90%;
    border-radius: 5px;
    margin: auto;
}
.dropdown-ul{
    padding: initial;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    margin-bottom: 10px;
}
.dropdown-item{
    list-style: none;
    cursor: pointer;
    background-color: darkslategray !important; 
    margin: 5px;
    height: 30px;
    color: white;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
}
.dropdown-item:active{
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.5);
}

/* -- Modal -- */
.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  .modal-content {
    background-color: burlywood;
    margin: 15% auto; 
    padding: 20px;
    border: none;
    border-radius: 5px;
    max-width: 65%;
    min-width: fit-content;
  }
  .close-modal-btn{
      background-color: firebrick;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
  }
  .close-modal-btn:active{
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.5);
  }



@media only screen and (max-width: 1200px){
    .pokemon-container-div{
        width: 90%;
    }
}

@media only screen and (max-width: 768px){
    .pokemon-container-div{
        width: 90%;
    }
    .dropdown-div{
        overflow-y: scroll;
        text-align: center;
    }
    .dropdown-ul{
        padding: initial;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .dropdown-item{
        list-style: none;
        text-decoration: underline;
    }
}

@media only screen and (max-width: 480px){
    .pokemon-container-div{
        width: 90%;
    }
    .pokemon-stats-container p{
        margin: 5px 0;
        padding-left: 7px;
        font-size: 0.9rem;
    }
    .pokemon-image{
        height: auto;
        width: auto;
    }
    .pokemon-sprite-container{
        padding: 20px 0;
    }
    .ability-btn{
        margin: 5px 0;
    }
    .ability-text{
        font-size: 0.9rem;
        width: 80%;
    }
    .dropdown-div{
        overflow-y: scroll;
        text-align: center;
    }
    .dropdown-ul{
        padding: initial;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .dropdown-item{
        list-style: none;
        text-decoration: underline;
    }
}
